<%- include('partials/_headers') %>
<div class="container">
    <h2 class="text-center">Inventario de Famosos</h2>
    <div class="row">
        <% famousList.forEach(famous => { %>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header"><%= famous.name %></div>
                    <div class="card-body">
                        <p class="card-text"><strong>Nacionalidad:</strong> <%= famous.nationality %></p>
                        <p class="card-text"><strong>Fecha de Nacimiento:</strong> <%= famous.birthDate ? famous.birthDate.toDateString() : 'N/A' %></p>
                        <h6 class="mt-3">Propiedades:</h6>
                        <% if (famous.properties && famous.properties.length > 0) { %>
                            <ul class="list-group">
                                <% famous.properties.forEach(property => { %>
                                    <li class="list-group-item">
                                        <strong>Tipo:</strong> <%= property.type %><br>
                                        <strong>Dirección:</strong> <%= property.location.address %>, <%= property.location.city %>, <%= property.location.country %><br>
                                        <strong>Descripción:</strong> <%= property.description %><br>
                                        <strong>Precio Estimado:</strong> $<%= property.estimatedPrice %>
                                    </li>
                                <% }) %>
                            </ul>
                        <% } else { %>
                            <p>No hay propiedades registradas para este famoso.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<%- include('partials/_footer') %>
